body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 10vh auto 10vh;
}
h2 {
  border-color: aquamarine;
}

header a {
  text-decoration: none;
}

main {
  box-shadow: 0 0 10px 5px rgba(133, 133, 133, 0.527);
}
p {
  border-color: blue;
  text-decoration: double;
}
